torch
networkx==3.2.1
networkx
numpy
scipy
pandas
matplotlib
openai
transformers
pytest
pytest-cov
jsonlines
litellm
anthropic
huggingface_hub
google-cloud-dialogflow
pydantic
python-dotenv
secure-smtplib
sentence_transformers
llama-cpp-python
tavily-python==0.1.9